.dabba {
  height: 400px;
  width: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.chotebox {
  height: 100%;
  width: 80px;
  border-radius: 10px;
}
.chotebox img {
  width: 100px;
  height: 100%;
}
.disney {
  width: 100%;
  height: 100vh;
  gap: 40px;
  background: linear-gradient(
    to right bottom,
    pink,
    rgb(98, 125, 205),
    rgb(185, 185, 75),
    rgb(124, 205, 124),
    rgb(230, 120, 120)
  );
  text-align: center;
  background-size: cover;
  display: flex;
  background-position: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.disney h1 {
  margin-top: 6vw;
  font-size: 5vw;
  font-family: fantasy;
  color: rgb(75, 21, 30);
  text-decoration: underline solid rgb(78, 11, 22);
}

.chotebox :hover {
  width: 15vw;
  position: absolute;
  height: 400px;
}

@media (max-width: 600px) {
  .disney h1 {
    font-size: 11vw;
  }
  .chotebox {
    width: 7.5vw;
  }
  .disney {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chotebox:hover {
    width: 200px;
  }
  .dabba {
    margin-right: 18%;
  }
}
